*{
    font-family: 'Roboto', sans-serif !important;
}
h2 {
    font-size: 20px;
    font-weight: 900;
    color: #1b2530;
}
.centeredModal{
    position: absolute;
    background: #fff;
    z-index: 100;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    top: 25%;
  }
  .modal {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 5%;
    height: 100%;
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.5);
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}

.modal-header {
    position: absolute;
    right: 20px;
    top: 20px;
}

.x-out-button {
    margin-left: auto;
    order: 2;
}
#failedEntry {
    color: red;
}

.check {
    border: 2px solid black;
}
.calendar_eventdetails {
    display: flex;
    flex-direction: row;
}

label{
    display:block;
    margin-top: 15px;
    margin-bottom: 5px;
}
textarea{
    border-color: #ccc;
}
.submit, .button{
    margin-top:15px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.4em 0.65em;
    font-size: 1em;
    line-height: 1.5;
    border-radius: 0.25em;
    color: #fff;
    background-color: #2C3E50;
    border-color: #2C3E50;
}
.button{
    margin-left: 10px;
}
.signinbutton{
    margin-top:0;
}
.submit:hover, .button:hover{
    background-color: #1a252f;
    border-color: #1a252f;
}
.signin-input{
    font-size: 1em;
    line-height: 1.5;
    margin: 1%;
    margin-top: 15px;
    margin-right: 10px;
    display: inline-block;
}